---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato|Montserrat);


// Our variables
$base-font-family: 'Lato', sans-serif;
$header-font-family: 'Montserrat', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$gold:             #ffd966;
$text-color:       #282828;
$background-color: #fdfdfd;
$brand-color:      #ffecb3;
$background-image: url(/img/bg.jpg);
$grey-color:       #282828;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        960px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "animations";
// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "countdown";

body{
    background-image: $background-image;
    background-attachment: fixed;
    background-size: cover;
}

a{
    transition: all .5s;
}

.banner-border{
    position: relative;
    text-align: center;
    padding: $spacing-unit/2 0;
    border-top: 12px solid $brand-color;
    border-bottom: 12px solid $brand-color;
    -webkit-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.75);
    .banner{
        color: $grey-color;
        background-color: $brand-color;
        padding: $spacing-unit/2 0;
        -webkit-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.75);
        box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.75);
        h1{
            margin: 0;
        }
    }
}

div#header{
    height: 60px;
    padding: 3px 0;
    color: $gold;
    .dowloadables{
        vertical-align: middle;
        display: inline;
        a{
            color: $gold;
            margin: 0 $spacing-unit/2;
            letter-spacing: 1px;
            &:hover{
                color: $brand-color;
            }
        }
    }
}

div#landing{
    text-align: center;
    color: $gold;
    letter-spacing: 1px;
    .banner-container{
        img#gear{
            position: relative;
            z-index: -1;
        }
        .banner-border{
            top: -256px;
            margin-bottom: -100px;
        }
    }
    div#buttons{
        margin: $spacing-unit*1.5 0;
        a.btn{
            padding: 6px $spacing-unit/2;
            margin: 0 $spacing-unit/2;
            border-top: 4px solid $gold;
            border-bottom: 4px solid $gold;   
            &:hover{
                text-decoration: none;
                color: $brand-color;
                border-top: 4px solid $brand-color;
                border-bottom: 4px solid $brand-color; 
            }
        }
    }
    a#arrow-down{
        opacity: 0.5;
        &:hover{
            opacity: 1;
        }
    }
}

div#countdown{
    .banner-border{
        margin: $spacing-unit*2 0 $spacing-unit;
        .banner{
            padding: $spacing-unit 0;
        }
    }
}

div#registration{
    background-color: $brand-color;
    color: $grey-color;
    -webkit-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.75);
    padding: $spacing-unit $spacing-unit;
    margin-top: $spacing-unit;
    ol{
        margin: 0;
    }
    .ss-form-heading{
        text-align: center;        
        .ss-form-title{
            font-family: $header-font-family;
            margin-bottom: $spacing-unit/3;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 4px solid $grey-color;
        }
    }
    .ss-required-asterisk{
        color: $red;
    }
    .error, .required, .errorbox-bad {
      border-color: $red;
    }
    input.ss-q-short{
        padding: 4px 6px;
        border: 1px solid $grey-color-light;
    }
    .btn{
            padding: 6px $spacing-unit/2;
            margin-top: $spacing-unit;
            border: none;
            background-color: transparent;
            border-top: 4px solid $grey-color;
            border-bottom: 4px solid $grey-color;   
            cursor: pointer;
            &:hover{
                text-decoration: none;
                color: $grey-color-dark;
                border-top: 4px solid $grey-color-light;
                border-bottom: 4px solid $grey-color-light; 
            }
        }
}
