<div class="banner-border">
  <div class="banner">
      <div class="countdown-container container">
        <h3>COUNTDOWN TO DISTASS 2015</h3>
        <div class="clock row col-xs-offset-2 col-xs-8"> 
            <!-- days -->
            <div class="clock-item clock-days countdown-time-value col-sm-6 col-md-3">
                <div class="wrap">
                    <div class="inner">
                        <div id="canvas-days" class="clock-canvas"></div>
                        <div class="text">
                            <p class="val">0</p>
                            <p class="type-days type-time">DAYS</p>
                        </div>
                    </div>
                </div>
            </div>
             
            <!-- hours -->
             
            <div class="clock-item clock-hours countdown-time-value col-sm-6 col-md-3">
                <div class="wrap">
                    <div class="inner">
                        <div id="canvas-hours" class="clock-canvas"></div>
                        <div class="text">
                            <p class="val">0</p>
                            <p class="type-hours type-time">HOURS</p>
                        </div>
                    </div>
                </div>
            </div>
             
            <!-- minutes -->
            <div class="clock-item clock-minutes countdown-time-value col-sm-6 col-md-3">
                <div class="wrap">
                    <div class="inner">
                        <div id="canvas-minutes" class="clock-canvas"></div>
                        <div class="text">
                            <p class="val">0</p>
                            <p class="type-minutes type-time">MINUTES</p>
                        </div>
                    </div>
                </div>
            </div>
             
            <!-- seconds -->
            <div class="clock-item clock-seconds countdown-time-value col-sm-6 col-md-3">
                <div class="wrap">
                    <div class="inner">
                        <div id="canvas-seconds" class="clock-canvas"></div>
                        <div class="text">
                            <p class="val">0</p>
                            <p class="type-seconds type-time">SECONDS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>