<div class="banner-container">
    <img id="gear" src="/img/gear.png"/>
    <div class="banner-border">
      <div class="banner">
        <div class="container">
          <h1>{{ 'District Assembly 2015' | upcase }}</h1>
          <span><em>Club Leadership Training Seminar</em></span>
        </div>
      </div>
    </div>
  </div>
  <p>
    APRIL 11, 2015<br>
    Grand Caprice, Limketkai Center, Cagayan de Oro City
  </p>
  <div id="buttons"> 
    <h3><a href="#" class="btn">SCHEDULE</a>
    <a href="#registration" class="btn scroll-toggle">REGISTER</a></h3>
  </div>
  <a href="#countdown" id="arrow-down" class="scroll-toggle">
    <img src="/img/arrow.png">
  </a>