<div class="ss-form-heading">
    <h2 class="ss-form-title" dir="ltr">{{'Registration Form' | upcase}}</h2>
</div>
<div class="ss-required-asterisk" aria-hidden="true">* Required</div>
<div class="ss-form ">
    <form action="https://docs.google.com/forms/d/1bAT1wr7X6jZmzOZkLJPH61KuZcq1KVRngzYl5Tq4u6A/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
        <ol role="list" class="ss-question-list" style="padding-left: 0">
            <div class="row">
            <div class="ss-form-question errorbox-good col-md-5" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry form-group">
                        <label class="ss-q-item-label form-label" for="entry_350131696">
                            <div class="ss-q-title">Last Name
                                <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                                <span class="ss-required-asterisk" aria-hidden="true">*</span>
                            </div>
                        </label>
                        <input type="text" name="entry.350131696" value="" class="ss-q-short form-control" id="entry_350131696" dir="auto" aria-label="Last Name  " aria-required="true" required="" title="">
                        <div class="error-message" id="1972141415_errorMessage"></div>
                    </div>
                </div>
            </div>

            <div class="ss-form-question errorbox-good col-md-5" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry form-group">
                        <label class="ss-q-item-label control-label" for="entry_1128323842">
                            <div class="ss-q-title">First Name
                                <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                                <span class="ss-required-asterisk" aria-hidden="true">*</span>
                            </div>
                        </label>
                        <input type="text" name="entry.1128323842" value="" class="ss-q-short form-control" id="entry_1128323842" dir="auto" aria-label="First Name  " aria-required="true" required="" title="">
                        <div class="error-message" id="899913453_errorMessage"></div>
                    </div>
                </div>
            </div> 

            <div class="ss-form-question errorbox-good col-md-2" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry form-group">
                        <label class="ss-q-item-label control-label" for="entry_909931214">
                            <div class="ss-q-title">M.I.
                                <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                                <span class="ss-required-asterisk" aria-hidden="true">*</span>
                            </div>
                        </label>
                        <input type="text" name="entry.909931214" value="" class="ss-q-short form-control" id="entry_909931214" dir="auto" aria-label="Middle Initial  " aria-required="true" required="" title="">
                        <div class="error-message" id="445628728_errorMessage"></div>
                    </div>
                </div>
            </div> 
            </div>

            <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry form-group">
                        <label class="ss-q-item-label control-label" for="entry_1917184228">
                            <div class="ss-q-title">Nickname
                                <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                                <span class="ss-required-asterisk" aria-hidden="true">*</span>
                            </div>
                        </label>
                        <input type="text" name="entry.1917184228" value="" class="ss-q-short form-control" id="entry_1917184228" dir="auto" aria-label="Nickname  " aria-required="true" required="" title="">
                        <div class="error-message" id="1230134301_errorMessage"></div>
                    </div>
                </div>
            </div>
            <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry form-group">
                        <label class="ss-q-item-label control-label" for="entry_1873506976">
                            <div class="ss-q-title">Club Position
                                <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                                <span class="ss-required-asterisk" aria-hidden="true">*</span>
                                <small>for RY 2015-2016</small>
                            </div>
                        </label>
                        <input type="text" name="entry.1873506976" value="" class="ss-q-short form-control" id="entry_1873506976" dir="auto" aria-label="Club Position for RY 2015-2016 " aria-required="true" required="" title="">
                        <div class="error-message" id="636514307_errorMessage"></div>
                    </div>
                </div>
            </div> 
            <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry form-group">
                        <label class="ss-q-item-label control-label" for="entry_700543762">
                            <div class="ss-q-title">Highest Position in Rotary
                                <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                                <span class="ss-required-asterisk" aria-hidden="true">*</span>
                            </div>
                        </label>
                        <input type="text" name="entry.700543762" value="" class="ss-q-short form-control" id="entry_700543762" dir="auto" aria-label="Highest Position in Rotary  " aria-required="true" required="" title="">
                        <div class="error-message" id="1654298281_errorMessage"></div>
                    </div>
                </div>
            </div>
            <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry">
                        <label class="ss-q-item-label" for="entry_178335297">
                            <div class="ss-q-title">Club Name
                                <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                                <span class="ss-required-asterisk" aria-hidden="true">*</span>
                            </div>
                        </label>
                        <input type="text" name="entry.178335297" value="" class="ss-q-short form-control" id="entry_178335297" dir="auto" aria-label="Club Name" aria-required="true" required="" title="">
                        <div class="error-message" id="2044692707_errorMessage"></div>
                    </div>
                </div>
            </div> 
            <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry form-group">
                        <label class="ss-q-item-label control-label" for="entry_755133516">
                            <div class="ss-q-title">Email Address
                                <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                                <span class="ss-required-asterisk" aria-hidden="true">*</span>
                            </div>
                        </label>
                        <input type="email" name="entry.755133516" value="" class="ss-q-short form-control" id="entry_755133516" dir="auto" aria-label="Email Address  Must be a valid email address" aria-required="true" required="" title="Must be a valid email address">
                        <div class="error-message" id="107356097_errorMessage">Must be a valid email address</div>
                    </div>
                </div>
            </div> 
            <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry form-group">
                        <label class="ss-q-item-label control-label" for="entry_1455431505">
                            <div class="ss-q-title">Contact Number/s
                                <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                                <span class="ss-required-asterisk" aria-hidden="true">*</span>
                            </div>
                        </label>
                        <input type="text" name="entry.1455431505" value="" class="ss-q-short form-control" id="entry_1455431505" dir="auto" aria-label="Contact Number/s  " aria-required="true" required="" title="">
                        <div class="error-message" id="1997732718_errorMessage"></div>
                    </div>
                </div>
            </div>
            <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-radio">
                    <div class="ss-form-entry">
                        <label class="ss-q-item-label" for="entry_258543065">
                            <div class="ss-q-title">Payment Details
                                <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                                <span class="ss-required-asterisk" aria-hidden="true">*</span>
                            </div>
                        </label>
                        <ul class="ss-choices" type="none"role="radiogroup" aria-label="Payment Details  ">
                            <li class="ss-choice-item">
                                <label>
                                    <span class="ss-choice-item-control goog-inline-block">
                                        <input type="radio" name="entry.1774289799" value="Php 600.00: I will avail of the discounted rate of Php 600.00, and will deposit my payment on or before March 31, 2015. I understand that after March 31, 2015, I shall pay the regular rate of Php 700.00." id="group_1774289799_1" role="radio" class="ss-q-radio" aria-label="Php 600.00: I will avail of the discounted rate of Php 600.00, and will deposit my payment on or before March 31, 2015. I understand that after March 31, 2015, I shall pay the regular rate of Php 700.00." required="" aria-required="true">
                                    </span>
                                    <span class="ss-choice-label">Php 600.00: I will avail of the discounted rate of Php 600.00, and will deposit my payment on or before March 31, 2015. I understand that after March 31, 2015, I shall pay the regular rate of Php 700.00.</span>
                                </label>
                            </li> 
                            <li class="ss-choice-item">
                                <label>
                                    <span class="ss-choice-item-control goog-inline-block">
                                        <input type="radio" name="entry.1774289799" value="Php 700.00: Will pay cash on-site, or will deposit my payment after March 31, 2015." id="group_1774289799_2" role="radio" class="ss-q-radio" aria-label="Php 700.00: Will pay cash on-site, or will deposit my payment after March 31, 2015." required="" aria-required="true">
                                    </span>
                                    <span class="ss-choice-label">Php 700.00: Will pay cash on-site, or will deposit my payment after March 31, 2015.</span>
                                </label>
                            </li>
                        </ul>
                        <div class="error-message" id="258543065_errorMessage"></div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="draftResponse" value="[,,&quot;-7423856187945866931&quot;]">
            <input type="hidden" name="pageHistory" value="0">
            <input type="hidden" name="fbzx" value="-7423856187945866931">
        </ol>
        <button type="submit" name="submit" id="ss-submit" class="jfk-button jfk-button-action btn col-xs-offset-3 col-xs-6 ">SUBMIT</button>
    </form>
</div>