@-webkit-keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}


@-webkit-keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideDown{
    0% {
        transform: translate(0, -100%);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes slideUp{
    0% {
        transform: translate(0, 100%);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes slideLeft{
    0% {
        transform: translate(100%, 0);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

.animated {
    transition: all 0.5s;
    -webkit-animation-fill-mode: both;
    &.rotate {
        -webkit-animation: rotate 0.5s;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-delay: 1s;
    }
    &.slideUp {
        -webkit-animation: slideUp 0.5s;
    }
    &.slideDown {
        -webkit-animation: slideDown 0.5s;
    }
    &.slideLeft {
        -webkit-animation: slideLeft 0.5s;
    }
    &.fadeIn{
        -webkit-animation: fadeIn 1s;
    }
}